@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-primary: var(--primary);
  --color-border-primary: oklch(from var(--primary) l c h / 0.35);
  --color-shadow-primary: oklch(from var(--primary) l c h / 0.35);
  --color-on-primary: var(--on-primary);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-border-surface: oklch(from var(--on-surface) l c h / 0.2);
  --color-shadow-surface: oklch(from var(--on-surface) l c h / 0.35);
  --color-on-surface: var(--on-surface);

  --color-disabled: oklch(from var(--primary) l c h / 0.35);
  --color-on-disabled: oklch(from var(--on-primary) l c h / 0.35);
  --color-border-disabled: oklch(from var(--on-surface) l c h / 0.1);

  --color-control: var(--surface);
  --color-border-control: oklch(from var(--on-surface) l c h / 0.35);
  --color-label: oklch(from var(--foreground) l c h / 0.7);

  --shadow-full-small: 0 0 4px 2px;
  --shadow-full-large: 0 0 6px 3px;
}

:root {
  --primary: var(--color-zinc-800);
  --on-primary: var(--color-zinc-50);

  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-950);

  --surface: var(--color-zinc-200);
  --on-surface: var(--color-zinc-950);
}

.dark {
  --primary: var(--color-zinc-200);
  --on-primary: var(--color-zinc-950);

  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);

  --surface: var(--color-zinc-700);
  --on-surface: var(--color-zinc-50);
}
